.toggle-panels-btn {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 25%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: 0px;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f5;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  height: auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.left-panel,
.right-panel {
  width: 45%;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 65vh;
  transition: width 0.3s ease, opacity 0.3s ease;
  /* Thêm hiệu ứng chuyển động */
}

h1 {
  color: #0078d4;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #0078d4;
  outline: none;
}

button {
  padding: 8px 12px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #0078d4;
  color: white;
}

tr:hover td {
  background-color: #f1f1f1;
}

.form-group label {
  font-weight: bold;
  color: #333;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input {
  margin-top: 5px;
}

#createUserResponse {
  margin-top: 10px;
  padding: 10px;
  background-color: #0078d4;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  display: none;
}

#createUserResponse.error {
  background-color: #dc3545;
}

#fetchLogsBtn {
  padding: 10px 18px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#fetchLogsBtn:hover {
  background-color: #0056b3;
}

.message {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

#logs-table,
.user-table {
  overflow-y: auto;
}

.border-cc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    flex: 1 1 100%;
    margin: 5px 0;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
  }

  table {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 8px;
    font-family: "Arial", sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    height: 100vh;
    overflow: hidden;
  }

  #fetchLogsBtn {
    padding: 6px 8px;
    width: 20%;
  }

  .container {
    flex-direction: column;
    height: 70vh;
    /* Các panel sẽ xếp theo chiều dọc */
  }

  .left-panel,
  .right-panel {
    padding: 0;
  }

  /* Khi lớp 'first' được thêm vào, right-panel chiếm toàn bộ không gian và left-panel ẩn đi */
  .container.first .right-panel {
    display: block;
    transform: translateY(0);
    width: 100%;
    height: 100vh;
  }

  .container.first .left-panel {
    display: none;
    transform: translateY(-100%);
    width: 0%;
    height: 0%;
  }

  /* Khi lớp 'second' được thêm vào, left-panel chiếm toàn bộ không gian và right-panel ẩn đi */
  .container.second .left-panel {
    display: block;
    transform: translateY(0);
    width: 100%;
    height: 100%;
  }

  .container.second .right-panel {
    display: none;
    transform: translateY(100%);
    width: 0%;
    height: 0%;
  }

  /* Nút toggle */
  .toggle-panels-btn {
    display: block;
    width: 50%;
    margin-top: 5px;
    padding: 10px;
    background-color: #0078d4;
    color: white;
    border: none;
    cursor: pointer;
  }

  .toggle-panels-btn:hover {
    background-color: #0056b3;
  }
}
